// Created by hch on 2014/11/6.

extends layout
block content


  h1(style="margin:0;") #{title}
  .user(style="margin: 5px 0 10px; color: #888;")
    | By !{user.fullname} @ !{fmt(created_at)},
    | last modified @ !{fmt(updated_at)} &nbsp;

  .tags
    - tags.forEach(function(tag) {
      span.tag= tag.name
    - })
  - if(req.session['user'] && req.session['user'].username == user.username)
    .edit(style="margin-top: 10px;")
      a(href="#{id}/edit", class="fa fa-edit") &nbsp;Edit
      | &nbsp;
      a(href="#{id}/del", class="fa fa-times") &nbsp;Delete

  hr

  | !{content}
