// Created by hch on 2014/11/6.
extends layout

mixin piece(obj, tags, len)
  a.title(href="/article/#{id}") #{obj.title}
  p= obj.abs
  - for(var i = 0; i < len; i++) {
    span #{tags[i]}
  - }
  .edit
    a(href="/article/#{id}/edit")
      i.fa.fa-edit
      | Edit
    a(href="/article/#{id}/del")
      i.fa.fa-times
      | Delete


block content
  ul.al
    - var i = 0
    - for(var id in articles) {
      - var obj = articles[id];
      - var tags = articles[id]['tags'];
      - var len = tags.length;
      - if(i++ % 2 == 0)
        li(style="background: #eee")
          +piece(obj, tags, len)
      - else
        li
          +piece(obj, tags, len)
    - }


