// Created by hch on 2014/11/6.
extends layout

mixin piece(a)
  - var id = a.article.id;
  a.title(href="/article/#{id}") #{a.article.title}
  p= a.article.content
  - a.tags.forEach(function(tag) {
    span= tag.name
  - })
  .author(style="color: #888;")
    | #{a.user.fullname} @ #{fmt(a.article.created_at)}
  .edit
    - if(req.session['user'] && req.session['user'].username == a.user.username)
      a(href="/article/#{id}/edit")
        i.fa.fa-edit
        | Edit
      a(href="/article/#{id}/del")
        i.fa.fa-times
        | Delete

mixin paging(pages, page)
  .pager
    - var page = Math.min(page, pages);
    - var s = Math.max(1, page - 5);
    - var e = Math.min(pages, s + 10);
    - s = Math.min(e - 10, s);
    - s = Math.max(1, s);
    - if(page == 1)
      a.page.dis &nbsp;<<&nbsp;
    - else
      a.page(href="/article/p/1") &nbsp;<<&nbsp;
    - for(var i = s;i <= e; i++) {
      - if(i == page)
        a.page.dis= i
      - else
        a.page(href="/article/p/#{i}")= i
    - }
    - if(page == pages)
      a.page.dis &nbsp;>>&nbsp;
    - else
      a.page(href="/article/p/#{pages}") &nbsp;>>&nbsp;
    a.page.dis &nbsp;page #{page} of #{pages}&nbsp;
block content
  +paging(pages, page)
  br
  ul.al
    - var i = 0
    - articles.forEach(function(a) {
      - if(i++ % 2 == 0)
        li(style="background: #eee")
          +piece(a)
      - else
        li
          +piece(a)
    -})
  br
  +paging(pages, page)


  script(type="text/javascript").
    $('ul.al').click(function(e){
      var el = $(e.target);
      if(!el.hasClass('fa-times')) return;
      var b = confirm('delete?');
    });

