// Created by hch on 2014/11/6.

extends layout
block content
  - function fmt(date) {
  -   var arr = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
  -   var y = date.getFullYear();
  -   var m = date.getMonth();
  -   var d = date.getDate();
  -   return arr[m] + '/' + d + '/' + y;
  - }

  h1(style="margin:0;") #{title}
  .user(style="margin: 5px 0 10px; color: #888;")
    | By !{user} @ !{fmt(created_at)},
    | last modified @ !{fmt(updated_at)}
  .tags
    - tags.forEach(function(tag, i) {
      span.tag= tag.name
    - })

  | !{content}
